@using PlaylistChaser.Web.Models.SearchModel;
@using PlaylistChaser.Web.Util;
@model SongIndexModel
@{
    ViewData["Title"] = "Song Overview";
}

<div class="row">
    <div class="col">
        <h5>Songs</h5>
        @Partials.ReloadablePartial("songsGridPartial",Url.Url("_SongsGridPartial","Song", new { addSongStates = Model.AddSongStates }),true)
    </div>
</div>