@using PlaylistChaser.Web.Models.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h2>Registration</h2>
    @Html.Partial("_LoginPartial", Model)
</div>
