@using PlaylistChaser.Web.Models.ViewModel
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <h2>Registration</h2>
    @Html.Partial("_RegisterPartial", Model)
</div>
