@using PlaylistChaser.Web.Util;
@using static PlaylistChaser.Web.Util.BuiltInIds;
@model Sources

@{
    var sources = (List<Source>)ViewBag.Sources;
    var source = sources.Single(s => s.Id == (int)Model);
}

<div class="modal-header p-5 pb-4 border-bottom-0">
    <h1 class="fw-bold mb-0 fs-2">Add a Playlist</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-5 pt-0">
    <div class="form-floating mb-3">
        <div class="input-group">
            <div class="input-group-text" style="color:#@(source.ColorHex);">@Html.Raw(source.IconHtml)</div>
            <input type="url" name="playlistUrl" class="form-control form-control-lg" id="playlistUrl" placeholder="@(Model.GetPlaylistUrlStart())..." required>
        </div>
    </div>
    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" onclick="addSimplePlaylist()">
        <i class="bi bi-patch-plus"></i> Add Playlist
    </button>
</div>


<script type="text/javascript">
    function addSimplePlaylist() {

        let url = "@Url.Url("AddSimplePlaylist", "Playlist", null)";
        $.ajax({
            type: "POST",
            url: url,
            data: { playlistUrl: $("#playlistUrl").val(), source: @source.Id },
            success: function (data) {
                if (!data.success)
                    return popupHelper.showError(data.message)
                else if (data.message)
                    return popupHelper.showError(data.message)
                location.reload();
            },
            dataType: "json"
        });
    }
</script>