@using PlaylistChaser.Web.Util;
@using static PlaylistChaser.Web.Util.BuiltInIds;

@{
    var selectedSource = (Sources)ViewBag.SelectedSource;
    var sources = (List<(Sources source, string icon)>)ViewBag.Sources;
}

<div class="modal-header p-5 pb-4 border-bottom-0">
    <h1 class="fw-bold mb-0 fs-2">Playlist Name</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-5 pt-0">
    @(Controls.EnumSelect<Sources>("Sources", "sourceSelector"))
    <div class="form-floating mb-3">
        <label class="visually-hidden" for="combinedYtPlName">Name</label>
        <div class="input-group">
            <div id="sourceIcon" class="input-group-text spot">
            </div>
            <input type="text" name="combinedYtPlName" class="form-control form-control-lg" id="combinedYtPlName" placeholder="Playlist name" required>
        </div>
    </div>

    <button id="create-combined-yt-btn"
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            type="button"
            data-bs-dismiss="modal">
        <i class="bi bi-file-plus btn-icon"></i> Create Combined Playlist
    </button>
</div>

<script type="text/javascript">
    var sourcesJs = [@Html.Raw(string.Join(',', sources.Select(s => "{ id:'" + (int)s.source + "', icon:\"" + s.icon + "\"}").ToList()))];
    $("#sourceSelector").on("change", function (s, e) {
        let source = sourcesJs.find(({ id }) => id == s.target.value);
        $("#sourceIcon").html(source.icon);
        $("#sourceIcon").addClass("text-yt-red");
    })
    $(function () {
        $("#sourceSelector").val(@((int)selectedSource)).change()
    })
    function getSelectedSource() {
        return $("#sourceSelector").val();
    }

    $("#create-combined-yt-btn").click(function () {
        let name = $("#combinedYtPlName").val()
        let selectedIds = getSelectedPlaylistIds();
        createCombinedPlaylist(name, selectedIds, '@Sources.Youtube')
    });
    
    function createCombinedPlaylist(playlistName, playlistIds, source) {

        let url = "@Helper.Url(Url,"CreateCombinedPlaylist","Playlist")";
        $.ajax({
            type: "POST",
            url: url,
            data: { playlistName: playlistName, playlistIds: playlistIds.toString(), source: source },
            success: function (data) {
                if (!data.success)
                    return console.error(data.message);

                location.reload();
            },
            dataType: "json"
        });
    }
</script>
<!-- END -->