@using PlaylistChaser.Web.Util;
@using static PlaylistChaser.Web.Util.BuiltInIds;

@{
    var selectedSource = (Sources)ViewBag.SelectedSource;
    var sources = (List<Source>)ViewBag.Sources;
}

<div class="modal-header p-5 pb-4 border-bottom-0">
    <h1 class="fw-bold mb-0 fs-2">Playlist Name</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-5 pt-0">
    @*@(Controls.EnumSelect<Sources>("Sources", "sourceSelector"))*@
    @Controls.SourceSelect(sources)
    <div class="form-floating mb-3">
        <label class="visually-hidden" for="combinedPlName">Name</label>
        <div class="input-group">
            <div id="sourceIcon" class="input-group-text spot">
            </div>
            <input type="text" name="combinedPlName" class="form-control form-control-lg" id="combinedPlName" placeholder="Playlist name" required>
        </div>
    </div>

    <button id="create-combined-btn"
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            type="button"
            data-bs-dismiss="modal">
        <i class="bi bi-file-plus btn-icon"></i> Create Combined Playlist
    </button>
</div>

<script type="text/javascript">
    $("#sourceSelector").on("change", function (s, e) {
        let source = sourcesJs.find(({ Id }) => Id == s.target.value);
        $("#sourceIcon").html(source.IconHtml);
        $("#sourceIcon").css("color", "#" + source.ColorHex);
    })
    

    $("#create-combined-btn").click(function () {
        let name = $("#combinedPlName").val()
        let selectedIds = getSelectedPlaylistIds();
        createCombinedPlaylist(name, selectedIds, '@Sources.Youtube')
    });

    function createCombinedPlaylist(playlistName, playlistIds, source) {

        let url = "@Url.Url("CreateCombinedPlaylist","Playlist")";
        $.ajax({
            type: "POST",
            url: url,
            data: { playlistName: playlistName, playlistIds: playlistIds.toString(), source: source },
            success: function (data) {
                if (!data.success)
                    return console.error(data.message);

                location.reload();
            },
            dataType: "json"
        });
    }
</script>
<!-- END -->