@using (Html.BeginForm("_ChooseSong", "Playlist"))
{
    <div class="row">
        <div class="col-12">
            <div class="row form-group">
                @Html.Label("new spotify song Id/Url")
                <div class="col-sm-8">
                    @Html.TextBox("newSpotifyId")
                </div>
                <div class="col-sm-4">
                    <input type="submit" />
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("songId", ViewData["SongId"])
}